
<body>
    <p i18n="@@movetitle" class="title">Bouger avec le Michif</p>

    <p i18n="@@moveparagraph" class="paragraph">
      Viens jouer au kokum ehtwet! (Kokum dit!) Pour jouer, vous devez faire ce que Kokum vous dites, mais seulement lorsqu' elle demande en michif.
      Si vous faites ce qu’elle demande en englais, vous perdez le jeu!
      Et n’oubliez pas le nakî (arrêt) lorsque kokum le dit! Voici des idées pour commencer!
    </p>

    <p i18n="@@conjugator" class="paragraph">
      Voulez-vous conjuguer des verbes? Cliquez <a html="https://verbbuilder.lacsteannemichif.ca/tabs/conjugator">ici</a> pour utiliser notre conjugueur michif.
      </p>

    <div class="outerdiv">

        <p ci18n="@@dance" lass="innerp">
            Dance - Nîmihto
        </p>

        <video width="520" height="440" controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/dance.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n="@@run" class="innerp">
            Courir - Pimpahtâ
        </p>

        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/run.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n="@@walk" class="innerp">
            Marcher - Pimohtî
        </p>

        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/walk.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n="@@jump" class="innerp">
            Sauter - Kwâskohtô
        </p>

        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/jump.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

</body>
