
<body>
    <p i18n="@@movetitle" class="title">Move With Michif</p>

    <p i18n="@@moveparagraph" class="paragraph">
        Come and play Kokum Ehitwet! (Kokum Says!)
        To play, you have to do what Kokum tells you, but
        only if she tells you in Michif! If you do what she says
        when she tells you in English, you're out! And don't forget to nakî (stop!)
        when she says!

        Here are some ideas to get you started!
    </p>

    <p i18n="@@conjugator" class="paragraph">
      Want to make more verbs? Click <a href="https://verbbuilder.lacsteannemichif.ca/tabs/conjugator">here</a> to use our LSA Michif verb maker!
      </p>

    <div class="outerdiv">

        <p ci18n="@@dance" lass="innerp">
            Dance - Nîmihto
        </p>

        <video width="520" height="440" controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/dance.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n="@@run" class="innerp">
            Run - Pimpahtâ
        </p>

        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/run.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n="@@walk" class="innerp">
            Walk - Pimohtî
        </p>

        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/walk.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n="@@jump" class="innerp">
            Jump - Kwâskohtô
        </p>

        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/jump.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

</body>
