
<body>
    <p class="title">I Spy Colors</p>

    <div class="outerdiv">

        <p class="innerp">
            Play I Spy With Kokum!
        </p>
        
        <video width="520" height="440" controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/colors1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p class="innerp">
            Learn Colours With Muckatoon!
        </p>
        
        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/colors2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

</body>
