body{

    max-width: 700px;
    margin: auto;
    justify-content: center;
}

.innerp{
    font-size:20px;
    font-weight: bold;
    // margin: 10px 110px;
}


.outerdiv{
    margin: 100px 0;
    text-align: center;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 10px 10px 10px;
    line-height: 40px;
    width: 320;
}

.video{
    width:320 !important;
    height:240 !important;
    box-shadow: 10px 10px 8px #888888;
}

img {
    width: 700px;
    height: 460px;
    border-style: solid;
    border-width: 10px;
    border-color: darkorange;
}