
<body>
    <p i18n class="title">Learn To Count With Muckatoon</p>

    <div class="outerdiv">

        <p i18n class="innerp">
            One - Peyak
        </p>
        
        <video width="520" height="440" controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/peyak.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n class="innerp">
            Two - Nîso
        </p>
        
        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/niso.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n class="innerp">
            Three - Nisto
        </p>
        
        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/nisto.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n class="innerp">
            Four - Newo
        </p>
        
        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/newo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n class="innerp">
            Five - Niyânan
        </p>
        
        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/niyanan.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>
    
    <div class="outerdiv">

        <p i18n class="innerp">
            Count To Five
        </p>
        
        <video width="520" height="440" controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/mukatooncounts.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n class="innerp">
            Sing To Ten
        </p>
        
        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/countsing.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>
</body>
