
<body>
    <p i18n="@@learn2count" class="title">Apprendre les couleurs avec Muckatoon!</p>

    <div class="outerdiv">

        <p i18n="@@one" class="innerp">
            Un - Peyak
        </p>

        <video width="520" height="440" controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/peyak.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n="@@two" class="innerp">
            Deux - Nîso
        </p>

        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/niso.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n="@@three" class="innerp">
            Trois - Nisto
        </p>

        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/nisto.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n="@@four" class="innerp">
            Quatre - Newo
        </p>

        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/newo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n="@@five" class="innerp">
            Cinq - Niyânan
        </p>

        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/niyanan.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n="@@counttofive" class="innerp">
            Compter à cinq
        </p>

        <video width="520" height="440" controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/mukatooncounts.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n="@@singtoten" class="innerp">
            Chanter de un à dix
        </p>

        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/countsing.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>
</body>
