.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar{
  background-color: orange !important;
  color: white;
  position: sticky !important;
}

.sidebar{
  background-color: darkorange !important;
}

.spacer{
  flex: 1 1 auto;
}

mat-toolbar a{
  display:inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  padding: 0!important;
}

.home{
  height: 24px;
}