<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar i18n="@@learnmichif" class="sidebar"> Learn Michif </mat-toolbar>
    <mat-nav-list>
      <a i18n="@@titleispy" mat-list-item routerLink="/colours">I Spy Colours</a>
      <mat-divider></mat-divider>
      <a i18n="@@titlecounting" mat-list-item routerLink="/counting">Counting With Muckatoon</a>
      <mat-divider></mat-divider>
      <a i18n="@@titlemove" mat-list-item routerLink="/move">Move With Michif</a>
      <mat-divider></mat-divider>
      <a i18n="@@titleshare" mat-list-item routerLink="/sharing">Here To Share</a>
      <mat-divider></mat-divider>
      <a i18n="@@titlestories" mat-list-item routerLink="/stories">Stories For Nôsimak</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mainbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Lac Ste. Anne Michif</span>
      <span class="spacer"></span>
      <a  class="home" routerLink=""><mat-icon >home</mat-icon></a>
      <a  i18n="@@titleabout" routerLink="/about">About</a>
      <a  href="https://lacsteannemetis.com/">LSAM</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
