
<body>
    <p class="title">About</p>

    <p class="paragraph">
        Video Credits:
        <br>
        <br>Made By:
        <br>Riplea Lothian
        <br>Maureen Belanger
        <br>Heather Hatch
        <br>Jamie Bourque
        <br>
        <br>Produced By:
        <br>Riplea Lothian
        <br>Maureen Belanger
        <br>Heather Hatch
        <br>Jamie Bourque
        <br>
        <br>Starring:
        <br>Judith Hilbert
        <br>Cyrille Ken Letendre
        <br>Rayleigh Vazquez
        <br>Sofia Vazquez
        <br>Ivy Brandsma
        <br>Soleil Dionne
        <br>
        <br>Riplea Lothian as Muckatoon
        <br>
        <br>Maureen Boulanger as Kokum Ernestine
        <br>
        <br>DOP - Jamie Bourque
        <br>
        <br>Director - Heather Hatch
        <br>
        <br>Illustrator - Aisha Snowden
        <br>
        <br>Editor - Jamie Bourque
        <br>
        <br>Grip - Frieda Bourque
        <br>
        <br>Technical Support
        <br>
        <br>
        <br>Website By:
        <br>Delaney Lothian
    </p>

    <div class="outerdiv">

        <p class="innerp">
            Ekosi!
        </p>
        
        <video width="520" height="440" controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/ekosigoodbye.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</body>
