
<body>
    <p i18n="@@abouttitle" class="title">À Propos</p>

    <p i18n="@@creditsp" class="paragraph">
        <br>
        <br>Réaliser par:
        <br>Maureen Belanger
        <br>Riplea Lothian
        <br>Heather Hatch
        <br>Jamie Bourque
        <br>
        <br>Avec la participation de:
        <br>Judith Hilbert
        <br>Cyrille Ken Letendre
        <br>Rayleigh Vazquez
        <br>Sofia Vazquez
        <br>Ivy Brandsma
        <br>Soleil Dionne
        <br>
        <br>Riplea Lothian - Muckatoon
        <br>
        <br>Maureen Boulanger - Kokum Ernestine
        <br>
        <br>DOP - Jamie Bourque
        <br>
        <br>Réalisatrice - Heather Hatch
        <br>
        <br>Illustratrice - Aisha Snowden
        <br>
        <br>Monteur - Jamie Bourque
        <br>
        <br>Machiniste caméra - Frieda Bourque
        <br>
        <br>
        <br>Site web:
        <br>Delaney Lothian
    </p>

    <div class="outerdiv">

        <p class="innerp">
            Ekosi!
        </p>

        <video width="520" height="440" controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/ekosigoodbye.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <p i18n="@@psponsored" >Financé par le gouvernement du Canada</p>
    <img src="../../../assets/canada.png">

</body>
