
<body>
    <p i18n class="title">Here To Share</p>

    <div class="outerdiv">

        <p i18n class="innerp">
            Sharing With Judy
        </p>
        
        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/judy.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <div class="outerdiv">

        <p i18n class="innerp">
            Sharing With Ken
        </p>
        
        <video width="520" height="440"  controls controlsList="nodownload" class="video">
            <source src="../../../assets/videos/ken.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</body>